body {
    position: relative;
}

main .goback {
    position: absolute;
    top: 10em;
    left: 1em;
    /* z-index: -1; */
    transition: all ease-in-out .33s;
}

main .goback a {
    width: 100%;
    height: 100%;
    background-color: rgb(34, 30, 7);
    display: flex;
    justify-content: center;
    place-items: center;
    border-radius: 1.5em;
    gap: 5px;
    padding: 0 .5em;
    color: aliceblue;
    text-decoration: none;
}

main .goback img {
    rotate: 180deg;
    filter: invert(50%);
}

@media(max-width:900px) {
    main .goback {
        top: 25%;
    }
}