* {
    margin: 0;
    padding: 0;
}

:root {
    --gold: rgb(82, 71, 13);
    --goodfont: 'Courgette', cursive;
    --gold1: rgb(207, 175, 14);
}

body {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 9em auto 5em;
    grid-template-areas: "header header header header" "main main main main" "footer footer footer footer";
}

main {
    grid-area: main;
    width: 100%;
    min-height: 30em;
    display: flex;
    /* margin-bottom: .5em; */
}

main .hero {
    width: 100%;
    height: 100%;
    display: flex;
    background-image: url("../image/forBank/b1.jpg");
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: multiply;
    position: relative;
}

main .hero .form-container {
    margin-left: auto;
    margin-right: 5%;
}

main .hero .form-container fieldset {
    background-color: rgba(0, 0, 0, .4);
}

main .hero .form-container fieldset form {
    backdrop-filter: blur(20px);
}

.label {
    color: rgb(183, 185, 187);
}

.input {
    background: transparent;
    border: solid 1px gold;
    color: rgb(182, 185, 189);
}

.description textarea {
    background: transparent;
    border: 1px solid gold;
    color: aliceblue;
    letter-spacing: 1px;
    border-radius: 1.2em;
}

.form-cont .button input:hover {
    border: 1px solid aliceblue;
    box-shadow: 0 0 15px 1px var(--gold);
    cursor: pointer;
}

.visiblility1,
.visiblility2 {
    top: .7em;
}

legend i img {
    filter: invert(50%);
}

.custome-alert-box {
    top: 40%;
    border: 1px solid rgba(255, 217, 0, 0.582);
    border-radius: 10px 0 10px 10px;
}

@media(max-width:1000px) {
    main .hero .some-description {
        display: none;
        opacity: 100%;
    }
    main .hero {
        margin-top: auto;
    }
}

@media(max-width:900px) {
    .custome-alert-box {
        top: 20%;
    }
    main .hero {
        place-items: center;
        justify-content: center;
    }
    main .hero .form-container {
        margin: auto;
    }
    .custome-alert-box {
        top: 40%;
    }
}